*.step
*.STEP
*.stp
*.STP
*.BAK
*.bak
*.*-bak
*rescue.*

*.odt
*.wrl
*.gbr
*.png
*.jpg
*.jpeg
*.wrl
_autosave*
*.net
*.pdf
*.drl
fp-info-cache
*-cache.*
*.drl
*.ndrl
*.html
linear_power_supply-backups/
